@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/* turn off click events for span */
span {
  pointer-events: none;
}

label.num-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin-right: 10px;
  margin-left: 5px;
  width: 80px;
  box-sizing: border-box;
  color: white;
}

label.num-display.time{
  margin-right: 5px;
  margin-left: auto;
  transition: all .3s;
  font-size: 0;
  justify-content: right;
  height: 100%;
  position: absolute;
  right: 0;
  pointer-events: none;
}

.player {
  max-width: 80%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  height: 30px;
  display: flex;
}

.player__controls {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all .3s;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.1);
}

.player__slider > span {
  display: flex;
  align-items: center;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player:hover .progress:hover {
  height: 25px;
}

.player:hover .progress:hover label.num-display.time{
  font-size: 1rem;
}


.player:hover label.num-display.time{
  font-size: 0.8rem;
}

.player__controls > * {
  flex: 1;
}

.progress {
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
}

.progress__filled {
  width: 100%;
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
}

/* unholy css to style input type="range" */

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
}